<%# <h1>Students#show</h1> %>
<%# <p>Find me in app/views/students/show.html.erb</p> %>

<h1><%= @dojo.branch %>'s <%= @student.first_name %> <%= @student.last_name %></h1>

<p>Email: <%= @student.email %></p>


<a href="/">Home</a> |
<a href="/dojos/<%= @dojo.id %>/students/<%= @student.id %>/edit">Edit</a>
